extends layout 

block content 
    h1= title 

    ul 
        each message in messages
            hr 
            li
                p #[strong #{message.title}] 
                p #[strong message: ] #{message.text}
                p #[ time: ] #{message.timestamp_formatted}
                if user 
                    img(src=message.user.avatar, alt="avatar")
                    p #[strong by: ] #{message.user.full_name}
                    if user.membership=="admin"
                        .delete 
                            form(action="/messages/delete", method="post") 
                                input(type="hidden", name="message_id", value=(message._id))
                                input(type="submit", value="Delete")
        
